<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Корзина</title>
    <link th:href="@{/css/cart.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Корзина товаров</h3>
<div th:each="product : ${cart_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <div class="navigation">
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        </div>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <div class="navigation1">
    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a> </div>
    <hr>
</div>
<h3 th:text="'Итоговая цена: ' + ${price}"></h3>
        <div class="navigation">
<a href="/order/create">Оформить заказ</a> </div>
</body>
</html>