body {
    background-image: linear-gradient(to right, #FFFFFF, #F4F9A4, #97F2F0, #82E396);
    margin: 20px;
    padding: 40px;
}

.infoProduct{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #006e89;
    margin: 10px;
    padding: 10px;}

.navigation:hover{
    color: #a69696;
    background-color:  #d9e8ff;

}
.navigation1:hover{
    color: #ff0000;
    background-color:  #ffc4c2;

}
.navigation2:hover{
    color: #1104c9;
    background-color:  #c3faf9;

}
p{
    margin: 10px;
    padding: 10px;
}