body {
    background-image: linear-gradient(to right, #FFFFFF, #F4F9A4, #97F2F0, #82E396);
    margin: 20px;
    padding: 40px;
}

h2
{
    text-align: center;
}
body {
    background-image: linear-gradient(to right, #FFFFFF, #F4F9A4, #97F2F0, #82E396);
    margin: 20px;
    padding: 40px;
}