body {
    background-image: linear-gradient(to right, #FFFFFF, #F4F9A4, #97F2F0, #82E396);
    margin: 20px;
    padding: 40px;
}

h2
{
    text-align: center;
}
body {
    background-image: linear-gradient(to right, #FFFFFF, #F4F9A4, #97F2F0, #82E396);
    margin: 20px;
    padding: 40px;
}
.infoProduct
{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
}
a{
    text-decoration: none;
    color: #006e89;}

.navigation:hover{
    color: #a69696;
    background-color:  #d9e8ff;}