<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/admin.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Личный кабинет администратора</h1>
<br>
<form method="post" action="/logout">
  <button type="submit">Выйти из личного кабинета</button><br>
</form>
<div class="navigation">
  <br>
<a href="admin/product/add">Добавить товар</a></div>
<hr>
<div class="infoProduct">
<div th:each="product : ${products}">
  <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
  <p th:text="'Описание: ' + ${product.getDescription()}"></p>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
  <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
  <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
  <div class="navigation2">  <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a></div>
    <div class="navigation1"> <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a></div>

</div></div>
</body>
</html>