<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link th:href="@{/css/persons.css}" type="text/css" rel="stylesheet">
</head>

<body>
<h3>Редактирование пользователя</h3>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

<form th:method="POST" th:action="@{/admin/person/edit/{id}(id=${person.getId()})}" th:object="${person}" enctype="multipart/form-data">


    <label for="role">Введите роль пользователю: </label>
    <input type="text" th:field="*{role}" placeholder="Роль" id="role">
    <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
    <br>
    <div class="d-none">
    <label for="login">Введите роль пользователю: </label>
    <input type="text" th:field="*{login}" placeholder="Роль" id="login">
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br>
    <label for="password">Введите роль пользователю: </label>
    <input type="text" th:field="*{password}" placeholder="Роль" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br></div>
    <input type="submit" value="Редактировать">
</form>

</body>
</html>